<ion-view view-title="Dashboard">
    <ion-content class="post-content" padding="10">
        <div class="card">
            <div class="item item-divider item-energized">
                Header Text - 1
            </div>
            <div class="item item-text-wrap">
                Content Text / Image Goes Here
            </div>
            <div class="item item-divider item-energized">
                Footer Text - 1
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider item-assertive">
                Header Text - 2
            </div>
            <div class="item item-text-wrap">
                Content Text / Image Goes Here
            </div>
            <div class="item item-divider item-assertive">
                Footer Text - 2
            </div>
        </div>
        <div class="card">
            <div class="item item-divider item-energized">
                Header Text - 3
            </div>
            <div class="item item-text-wrap">
                Content Text / Image Goes Here
            </div>
            <div class="item item-divider item-energized">
                Footer Text - 3
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider item-assertive">
                Header Text - 4
            </div>
            <div class="item item-text-wrap">
                Content Text / Image Goes Here
            </div>
            <div class="item item-divider item-assertive">
                Footer Text - 4
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider item-energized">
                Header Text - 5
            </div>
            <div class="item item-text-wrap">
                Content Text / Image Goes Here
            </div>
            <div class="item item-divider item-energized">
                Footer Text - 5
            </div>
        </div>
        
        <div class="card">
            <div class="item item-divider item-assertive">
                Header Text - 6
            </div>
            <div class="item item-text-wrap">
                Content Text / Image Goes Here
            </div>
            <div class="item item-divider item-assertive">
                Footer Text - 6
            </div>
        </div>
    </ion-content>
</ion-view>