<ion-view view-title="Nurse">
    <style type="text/css">
        .worldWrap {
            word-break: break-word;
        }
        
        .candidate-col {
            padding-left: 80px;
        }
        
        .row-border {
            border: #98D8E2;
            border-color: #98D8E2;
            border-style: solid;
        }
    </style>
	<ion-header-bar align-title="left" class="bar-positive bar-subheader" style="background-color: #65CDDE">
		<ion-buttons side="secondary">
			<button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
		</ion-buttons>
	</ion-header-bar>
	<ion-content class="post-content">
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		</ion-refresher>
		<div class="list card">
			<a class="item item-avatar candidate-list-item" style="padding-left: 15px; padding-top: 10px;" ng-repeat="item in items" href="#/home/nurse-details/{{item._id}}">
				<img ng-src="{{item.photo}}" style="max-width: 70px; max-height: 70px;"></img>
            
                <div class="row" style="padding-top: 0px;">
                    <div class="col candidate-col worldWrap">
                        <i class="icon ion-person"> <strong>{{item.maskedName}}</strong></i> , 
                        <i class="icon ion-android-walk"> {{ item.age }} Years,</i> 
                        <i class="icon ion-location"> {{item.location}}</i> , 
                        <i class="icon ion-ios-briefcase"> {{item.experience}}</i>, 
                        <i class="icon ion-medkit"> {{item.designation}}</i> , 
                        <i class="icon ion-medkit"> {{item.department}}</i>,
                        <i class="icon ion-cash"> {{item.salary}}</i>
                        
                        <div ng-if="item.readyToJobChange=='0'" class="worldWrap">
                            Immidiatly looking for a job change
                        </div>
                        <div ng-if="item.readyToJobChange=='1'" class="worldWrap">
                            Not looking for a job change
                        </div>
                    </div>
                </div>

                <div class="row row-border">
                    <div class="col">
                        <i class="icon ion-clipboard"> {{item.examsDetails[0].examName}}</i>
                    </div>
                    <div class="col">
                        <i class="icon ion-university"> {{item.examsDetails[0].yearOfPassing}}</i>
                    </div>
                    <div class="col">
                        <i class="icon ion-checkmark-round"> {{item.examsDetails[0].result}}</i>
                    </div>
                </div>
                    <!--<div class="row">
                        <div class="col" style="padding-left: 80px; word-wrap: break-word;">
                            <h2><strong>{{item.maskedName}}</strong></h2>
                        </div>
                        <div class="col" style="word-wrap: break-word;">
                            <h2>{{ item.age }} Years</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col worldWrap" style="padding-left: 80px;">
                            <h2>{{item.experience}}</h2>
                            <h2>{{item.designation}}</h2>
                            <h2>{{item.salary}}</h2>
                        </div>
                        <div class="col worldWrap">
                            <h2>{{item.location}}</h2>
                            <h2>{{item.department}}</h2>
                            <div ng-if="item.readyToJobChange=='0'" class="worldWrap">
                                Immidiatly looking for a job change
                            </div>
                            <div ng-if="item.readyToJobChange=='1'" class="worldWrap">
                                Not looking for a job change
                            </div>
                        </div>
                    </div>-->

                    <!--<div style="padding-top: 25px; padding-left: 10px;">
                        <h2 style="font-size: 14px; color: grey">Last updated : Nov 28, 2015 at 11:25 AM</h2>
                    </div>-->
                    <!--<div class="item item-divider">
                        <div class="inline" style="font-size: 200%; padding-top: 15px; width: 15%; z-index: 10;">
                            <h2><strong>Call</strong>  <i class="icon ion-ios-telephone"></i></h2>
                        </div>
                        <div class="inline" style="padding-top: 15px; width: 20%">
                            <h2><strong>Offer</strong>  <i class="icon ion-ios-paper" style=""></i></h2>
                        </div>
                        <div class="inline" style="float: right; padding-top: 15px">
                            <h2><strong>Posted On:</strong> 15 Days Ago</h2>
                        </div>
                    </div> -->
            
			</a>
		</div>
		<ion-infinite-scroll
			ng-if="postsCompleted == false"
			on-infinite="getPosts()"
			distance="10%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
